// variables que usa ant design, si se cambia las de ant se deben cambiar las de este archivo
$primary-color: #1a9cdc; // primary color for all components
$link-color: #1a9cdc; // link color
$success-color: #52c41a; // success state color
$warning-color: #faad14; // warning state color
$error-color: #f5222d; // error state color
